<div data-role="content">
    <ul data-role="listview" data-divider-theme="b" data-inset="true">
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Noticce
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Account
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Setting
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Q&amp;A
        </a>
      </li>
    </ul>
</div>
