 <div data-role="content">
    <div class="ui-grid-b">
      <div class="ui-block-a">
        <a data-role="button" href="#page1">
          Score
        </a>
      </div>
      <div class="ui-block-b">
        <a data-role="button" href="#page1">
          Up 5%
        </a>
      </div>
      <div class="ui-block-c">
        <a data-role="button" href="#page1">
          Down 5%
        </a>
      </div>
    </div>
    <ul data-role="listview" data-divider-theme="b" data-inset="true">
      <li data-role="list-divider" role="heading">
        score
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
    </ul>
</div>
