  <div data-role="content">
    <div data-role="fieldcontain">
      <input name="ID" id="textinput3" placeholder="" value="" type="text">
    </div>
    <div data-role="fieldcontain">
      <input name="PW" id="textinput4" placeholder="" value="" type="text">
    </div>
    <input type="submit" value="Submit">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a data-role="button" href="#page1">
          Find ID/PW
        </a>
      </div>
      <div class="ui-block-b">
        <a data-role="button" href="#page1">
          Resister
        </a>
      </div>
    </div>
  </div>
