 <div data-role="content">
    <ul data-role="listview" data-divider-theme="b" data-inset="true">
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Profile
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          My recipe
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Your recipe
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Guitar
        </a>
      </li>
    </ul>
    <div style="width: 100%; height: 140px; position: relative; background-color: #fbfbfb; border: 1px solid #b8b8b8;">
      <img src="http://codiqa.com/static/images/v2/image.png" alt="image" style="position: absolute; top: 50%; left: 50%; margin-left: -16px; margin-top: -18px">
    </div>
  </div>
