<div data-role="content">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div data-role="fieldcontain">
          <label name="recipe_title" id="label1" placeholder="">recipe title</label>
        </div>
      </div>
      <div class="ui-block-b">
        <div data-role="fieldcontain">
          <label name="nickname" id="label2" placeholder="">nickname</label>
        </div>
      </div>
    </div>
    <div data-role="fieldcontain">
      <label name="information" id="label3" placeholder="">informations</label>
    </div>
    <div data-role="fieldcontain">
      <label>
        recipe
      </label>
      <label name="recipe" id="label4" placeholder="">nothing to show</label>
    </div>
</div>
