<%= search_path %>
  <div data-role="content">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div data-role="fieldcontain">
          <input name="" id="searchinput4" placeholder="" value="" type="search">
        </div>
      </div>
      <div class="ui-block-b">
        <input type="submit" data-inline="true" value="Submit">
      </div>
    </div>
    <ul data-role="listview" data-divider-theme="b" data-inset="true">
      <li data-role="list-divider" role="heading">
        New
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
      <li data-theme="c">
        <a href="#page1" data-transition="slide">
          Button
        </a>
      </li>
    </ul>
</div>
